<!doctype html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script>
        window.onload = function () {
            new Interactive();
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/395f42db85.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Noto Sans JP',
            sans-serif;
        }
    </style>

        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/msuGrades.css')}}">
        <script type="text/javascript" src="{{url_for('static', filename='js/msuGrades.js')}}"></script>
        <!--    <link rel="stylesheet" href="msuGrades.css">-->
<!--    <script src="msuGrades.js"></script>-->
    <title>MSU Grades API</title>
</head>
<body>
    <nav class="hello navbar navbar-expand-lg navbar-light bg-light">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" >
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://msugrades.com/" >MSU Grades</a>
          </li>
            <li class="nav-item">
                <a class="nav-link" href="/interactive">Try it out</a>
            </li>
          <li class="nav-item dropdown">
            <a style="color: white;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Technologies</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/contactus">Credits</a>
            </div>
          </li>
        </ul>
        <!--<form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </nav>
    <br>
    <div class="container">
        <div class="card" >
            <div class="card-body">
                <form>
                  <div class="form-group">
                    <label for="courseName">Class Name</label>
                    <input type="text" class="form-control" id="courseName" style="border-color: #205c4e">
                  </div>

                  <div class="form-group">
                    <label>Enter Course Number</label>
                    <input type="text" class="form-control" id="courseNumber" style="border-color: #205c4e">
                  </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="semesters">Semester</label>
                          <select class="form-control" id="semesters" style="border-color: #205c4e !important;"></select>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="years">Year</label>
                            <select class="form-control" id="years" style="border-color: #205c4e !important;"></select>
                        </div>
                    </div>
                  <button type="submit" id="getGrades" class="btn btn-primary" style="background-color: #205c4e; border-color: #205c4e">Submit</button>
                    <br>
                    <div id="errormsg" style="color: red"></div>
                </form>
                <br>
                <hr>
                <br>
                <div class="card" id="results">
                    <div class="card-title">
                        <strong class="sub-heading">Results</strong>
                    </div>
                    <div class="card-body" style="padding-top: 0 !important ;">
                        <div class="bd-callout bd-callout-info">
                            <div id="url">The request url will be displayed here</div>
                        </div>
                        <br>
                        <div class="bd-callout bd-callout-info">
                            <div ><pre style="color:#e83e8c"><code id="ajaxcall">The Ajax call for the above request will be displayed here </code></pre></div>
                        </div>
                        <br>
                        <br>
                        <div class="bd-callout bd-callout-info">
                            <pre style="color:#e83e8c;"><code id="apiresults">The API Result will be displayed here</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <footer>
        <div class="alert alert-success" role="alert">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <a href="/contactus" class="alert-link">Contact Us</a>
                    </div>
                    <div class="col-6">
                        <a href="https://msu.edu/" class="alert-link">Michigan State University</a>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>